---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import NewsTab from '../components/NewsTab.astro'
import OverviewItem from '../components/OverviewItem.astro'
import Subject from '../components/Subject.astro'
import { subjects } from '../common/constants'
---

<Layout title="湾区中央法务区">
  <main class="pages-swiper swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="backdrop-bg">
          <img src="images/backdrop.png" alt="backdrop" />
        </div>
        <Header active={1} />
        <div class="title">
          <img src="images/title.png" alt="title" />
        </div>
        <NewsTab />
      </div>
      <div class="swiper-slide">
        <div class="public-service clearfix">
          <div class="fl left">
            <img
              src="images/public_legal_service.png"
              alt="public legal service"
            />
            <h2>湾区公共法律服务</h2>
            <p>
              坚持以司法为民为基点，持续优化公共法律服务，
              全力打造全国公共法律服务最便捷优质城市。
              目前，全市共建有公共法律服务实体平台3017个，
              近三年来，累计为群众提供法律咨询和业务办理近
              30万件次，全市共办理法律援助案件7.43万件，挽
              回经济损失或取得利益9.77亿元。
            </p>
          </div>
          <div class="fr right">
            <video
              class="video"
              poster="images/public_legal_service_video_poster.png"
            >
              <source
                src="https://www.w3schools.com/html/mov_bbb.mp4"
                type="video/mp4"
              />
              Your browser does not support HTML5 video.
            </video>
          </div>
        </div>
        <div
          class="overview clearfix"
          data-aos="fade-left"
          data-aos-offset="500"
          data-aos-duration="500"
          data-aos-delay="600"
          data-aos-easing="ease-out-back"
        >
          <OverviewItem number={3017} unit="家" desc="法律服务实体平台" />
          <OverviewItem number={30} unit="万/件" desc="法律资讯/业务办理" />
          <OverviewItem number={7.43} unit="万/件" desc="办理法律援助" />
          <OverviewItem
            number={9.77}
            unit="亿元"
            desc="挽回损失/取得利益共计"
          />
        </div>
        <div class="public-service-mask" data-aos="slide-right"></div>
      </div>
      <div class="swiper-slide intelligent">
        <img
          class="intelligent-title"
          src="images/Intelligent_recommendation.png"
          alt="public legal service"
        />
        <h2>政声传递</h2>
        <div class="clearfix intelligent-content">
          <div class="fl left">
            <img
              src="images/Intelligent_recommendation_left.png"
              alt="Intelligent Recommendation"
            />
          </div>
          <div class="fr right">
            <h4>
              广州通过优化提升粤港澳大湾区暨“一带一路”法律服务集聚区综合能级，出台法治赋能南沙17条措施加速推动
            </h4>
            <p>内容详情描述内容详情描述内容详情描述</p>
            <p>内容详情描述内容详情描述内容详情描述</p>
            <p>内容详情描述内容详情描述内容详情描述</p>
            <p>内容详情描述内容详情描述内容详情描述</p>
          </div>
        </div>
        <div class="clearfix">
          <div class="intelligent-item">
            广州通过优化提升粤港澳大湾区暨“一带一路”法律服务集聚区综合能级，出台法治赋能南沙17条措施加速推动
          </div>
          <div class="intelligent-item">
            广州通过优化提升粤港澳大湾区暨“一带一路”法律服务集聚区综合能级，出台法治赋能南沙17条措施加速推动
          </div>
          <div class="intelligent-item">
            广州通过优化提升粤港澳大湾区暨“一带一路”法律服务集聚区综合能级，出台法治赋能南沙17条措施加速推动
          </div>
        </div>
      </div>
      <div class="swiper-slide clearfix">
        {subjects.map((subject) => <Subject index={subject.index} />)}
      </div>
    </div>
  </main>
</Layout>
<script>
  import AOS from 'aos'
  import 'aos/dist/aos.css'
  import Swiper from 'swiper'
  import 'swiper/css'

  let aosInitialized = false
  $('body').on('click', () => {
    if (aosInitialized) return
    AOS.init()
    aosInitialized = true
    const aosAnimateClass = 'aos-animate'
    $('.public-service-mask').addClass(aosAnimateClass)
  })

  const swiper = new Swiper('.pages-swiper', {
    direction: 'vertical',
    effect: 'slide',
    mousewheel: true,
    speed: 1000,
    slidesPerView: 'auto',
    spaceBetween: 0,
    parallax: false,
    initialSlide: 3,
    on: {
      slideChangeTransitionStart: (swiper) => {},
      slideChangeTransitionEnd: (swiper) => {
        const aosAnimateClass = 'aos-animate'
        const { activeIndex } = swiper
        if (activeIndex === 1) {
          $('.public-service-mask').removeClass(aosAnimateClass)
          $('.overview').addClass(aosAnimateClass)
        }
      },
    },
  })
</script>
<style>
  .backdrop-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
  }

  .backdrop-bg img {
    width: 100%;
  }

  .pages-swiper {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .public-service {
    padding: 5.2vw 0 4vw;
    height: 80vh;
  }

  .public-service > div {
    height: 100%;
    width: 50%;
  }

  .public-service .left {
    position: relative;
    padding: 0 5.2vw;
  }

  .intelligent h2,
  .public-service h2 {
    font-size: 54px;
    font-weight: bold;
    line-height: 120px;
  }

  .public-service p {
    font-size: 28px;
    padding: 40px 50px;
    line-height: 2;
  }

  .public-service img {
    position: absolute;
    width: 680px;
    top: 0;
    right: 0;
    left: 5.2vw;
    margin-top: -20px;
  }

  .public-service .right {
    position: relative;
  }

  .public-service .right::before {
    content: '';
    background-color: #d1261f;
    width: 90px;
    height: 90px;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 2px;
  }

  .public-service video {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .overview {
    padding: 30px 5.2vw;
  }

  .overview > div {
    width: 25%;
    float: left;
  }

  .public-service-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a1d36;
  }

  .intelligent {
    padding: 30px 3.8vw 30px 5.2vw;
    background-image: url('images/Intelligent_recommendation_bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
  }

  .intelligent-title {
    position: absolute;
    width: 900px;
    top: 20px;
    right: 0;
    left: 5.2vw;
  }

  .intelligent-content {
    margin: 20px 0 40px;
    height: 60vh;
  }

  .intelligent-content .left {
    width: 70%;
    height: 100%;
  }

  .intelligent-content img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform-origin: top left;
    transition: transform ease-in-out 0.2s;
    cursor: pointer;
  }

  .intelligent-content img:hover {
    transform: scale(1.05);
  }

  .intelligent-content .right {
    width: 28%;
    height: 100%;
    padding: 20px;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
  }

  .intelligent-content .right h4 {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
  }

  .intelligent-item::before,
  .intelligent-content .right h4::before {
    content: '';
    position: absolute;
    margin-top: 8px;
    margin-left: -14px;
    width: 4px;
    height: 24px;
    background-color: #d1261f;
    z-index: 0;
  }

  .intelligent-content .right p {
    color: #bbbbbb;
    font-size: 16px;
    line-height: 40px;
  }

  .intelligent-item {
    padding: 0 40px 0 20px;
    float: left;
    width: 33.3%;
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
  }
</style>
