@charset "UTF-8";

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu,
main {
  display: block;
}
*,
:before,
:after {
  box-sizing: border-box;
}
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  width: auto;
  max-width: 100%;
}
ul,
dl,
li,
dt,
dd {
  list-style: none;
}
body,
html {
  min-height: 100%;
}
body {
  font-family: 'NotoSansHans';
  font-size: 14px;
  color: #fff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  overflow-x: hidden;
  background: #ffffff;
}
pre {
  font-family: 'NotoSansHans';
  white-space: pre-wrap;
  word-wrap: break-word;
}
a {
  font-size: 14px;
  text-decoration: none;
  transition: ease 0.65s;
  color: #333333;
  outline: none;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
input[type='text'],
input[type='password'],
input[type='search'],
textarea,
select {
  outline: none;
  font-family: 'NotoSansHans';
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 14px;
  display: block;
  width: 100%;
  border: none;
  background: none;
  transition: ease 0.45s;
}
input[type='radio'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 0px;
  margin-right: 5px;
  cursor: pointer;
}
input[type='checkbox'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 0px;
  margin-right: 5px;
  cursor: pointer;
}
input::-webkit-input-placeholder {
  color: #888888;
}
input:-moz-placeholder {
  　color: #888888;
}
input::-moz-placeholder {
  color: #888888;
}
input:-ms-input-placeholder {
  color: #888888;
}
textarea {
  resize: none;
  overflow: hidden;
}
textarea::-webkit-input-placeholder {
  color: #888888;
}
textarea:-moz-placeholder {
  　color: #888888;
}
textarea::-moz-placeholder {
  color: #888888;
}
textarea:-ms-input-placeholder {
  color: #888888;
}
select::-ms-expand {
  display: none;
}
i,
em {
  font-style: normal;
}
.fl,
.fl_warp {
  float: left;
}
.fr,
.fr_warp {
  float: right;
}
.clear {
  clear: both;
}
*:before,
*:after {
  z-index: -1;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button:vertical {
  display: none;
}
::-webkit-scrollbar-track:vertical {
  background-color: black;
}
::-webkit-scrollbar-track-piece {
  background: #e3e3e3;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: #555;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #3b3b3b;
}
::-webkit-scrollbar-corner:vertical {
  background-color: #535353;
}
::-webkit-scrollbar-resizer:vertical {
  background-color: #ff6e00;
}
