---
export interface Props {
  index: number
}
const { index } = Astro.props
---

<div class="fl subject">
  <img src={`images/subject_${index}.png`} alt={`subject ${index}`} />
  <div class="mask"></div>
  <h4>0{index}</h4>
  <h4>XX专题</h4>
  <div class="search-btn">
    <img src="images/search_icon.png" alt="search" />
  </div>
  <p>查看详情</p>
</div>
<style>
  .subject {
    position: relative;
    width: 25%;
    height: 100%;
    padding: 40px 30px 20px 30px;
    cursor: pointer;
  }

  .subject > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity ease-in-out 0.2s;
  }

  .subject:hover .mask {
    opacity: 0;
  }

  .subject:hover .search-btn {
    opacity: 1;
  }

  .subject h4 {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
  }

  .subject p {
    position: absolute;
    bottom: 25px;
    font-size: 20px;
  }

  .search-btn {
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    position: absolute;
    width: 130px;
    height: 130px;
    line-height: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50%;
    background: rgba(236, 34, 46, 0.5);
  }

  .search-btn::before {
    content: '';
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: rgba(236, 34, 46, 0.5);
    position: absolute;
    animation: circle-opacity 2s infinite;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
  }

  .search-btn img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }

  @keyframes circle-opacity {
    from {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    to {
      opacity: 0;
      transform: translate(-50%, -50%) scale(2);
    }
  }
</style>
